.sithis {
	display: flex;
}
.sidebar {
	flex-grow: 1;
	flex-basis: 100%;
	border: solid;
	padding: 10px;
}
.hidden {
	display: none;
}
body {
	color: white;
	background-color: #2a2a2e;
	padding: 1px;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
}